<%# Círculo con iniciales del miembro %>
<%# locals: (user:, clase: "size-9 text-xs") %>
<div class="avatar avatar-placeholder">
  <div class="<%= clase %> rounded-full bg-steel text-volt">
    <span class="font-display font-bold"><%= iniciales(user) %></span>
  </div>
</div>
